<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.cloud.kafka.mapper.BtTopicExtMapper" >
  <resultMap id="BaseResultMap" type="com.ch.cloud.kafka.model.BtTopicExt" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CLUSTER_NAME" property="clusterName" jdbcType="VARCHAR" />
    <result column="TOPIC_NAME" property="topicName" jdbcType="VARCHAR" />
    <result column="CLASS_FILE" property="classFile" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_AT" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLUSTER_NAME, TOPIC_NAME, CLASS_FILE, CLASS_NAME, DESCRIPTION, STATUS, CREATE_AT, 
    CREATE_BY, UPDATE_AT, UPDATE_BY
  </sql>
</mapper>